<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Babilema (Esperanto for garrulous) is a minimalist static blog generator that turns GitHub issues into blog posts. It is intended to be used as a GitHub action.
">
    <meta name="keywords" content="blog,static,generator,golang,opensource">
    <meta name="author" content="Arthur Wallendorff">
    <meta name="robots" content="index, follow">
    <title>Babilema - Turn your GitHub issues into blog posts!</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://babilema.github.io">
    <meta property="og:title" content="Babilema - Turn your GitHub issues into blog posts!">
    <meta property="og:description"
        content="Babilema is a minimalist static blog generator that uses GitHub issues to generate blog articles.">
    <!-- TODO: add image -->
    <!-- <meta property="og:image" content=""> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://babilema.github.io">
    <meta property="twitter:title" content="Babilema - Turn your GitHub issues into blog posts!">
    <meta property="twitter:description"
        content="Babilema is a minimalist static blog generator that uses GitHub issues to generate blog articles.">
    <!-- TODO: add image -->
    <!-- <meta property="twitter:image" content=""> -->

    <link rel="stylesheet" type="text/css" href="/babilema/templates/css/style.css">
</head>

<body>
    {{if .Header}}
    <header>{{.Header}}</header>
    {{end}}
    <main id="article-list">
        {{range .Articles}}
        <article>
            <div class="post-image">
                <a href="{{.URL}}"><img width="200" src="{{.Image}}" alt="{{.Title}}" /></a>
            </div>
            <div class="post-data">
                <h2><a href="{{.URL}}">{{.Title}}</a></h2>
                <p class="author-info">By {{.Author}} on {{.DatePublished.Format "January 2, 2006"}}</p>
                <p>{{.Preview}}</p>
            </div>
        </article>
        {{end}}
    </main>
    {{if .Footer}}
    <footer>{{.Footer}}</footer>
    {{end}}
</body>

</html>
