<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{if .Metadata.Description}}
    <meta name="description" content="{{.Metadata.Description}}">
    {{end}}
    {{if .Metadata.Keywords}}
    <meta name="keywords"
        content="{{range $index, $element := .Metadata.Keywords}}{{if $index}},{{end}}{{$element}}{{end}}">
    {{end}}
    {{if .Metadata.Author}}
    <meta name="author" content="{{.Metadata.Author}}">
    {{end}}
    <meta name="robots" content="index, follow">
    <title>
        {{.Metadata.Title}}{{if .Metadata.BlogTitle}} - {{.Metadata.BlogTitle}}{{end}}
    </title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{.Metadata.URL}}">
    <meta property="og:title" content="{{.Metadata.Title}}">
    {{if .Metadata.Description}}
    <meta property="og:description" content="{{.Metadata.Description}}">
    {{end}}
    {{if .Metadata.Image}}
    <meta property="og:image" content="{{.Metadata.Image}}">
    {{end}}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{.Metadata.URL}}">
    <meta property="twitter:title" content="{{.Metadata.Title}}">
    {{if .Metadata.Description}}
    <meta property="twitter:description" content="{{.Metadata.Description}}">
    {{end}}
    {{if .Metadata.Image}}
    <meta property="twitter:image" content="{{.Metadata.Image}}">
    {{end}}

    {{if .CSSLinks}}
    {{range .CSSLinks}}
    <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
    {{end}}

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{.Metadata.URL}}"
        },
        "headline": "{{.Metadata.Title}}",
        {{if .Metadata.Description}}
        "description": "{{.Metadata.Description}}",
        {{end}}
        {{if .Metadata.Image}}
        "image": "{{.Metadata.Image}}",
        {{end}}
        {{if .Metadata.Author}}
        "author": {
            "@type": "Person",
            "name": "{{.Metadata.Author}}"
        },
        {{end}}
        {{if .Metadata.Publisher}}
        "publisher": {
            "@type": "Organization",
            "name": "{{.Metadata.Publisher}}",
        },
        {{end}}
        "datePublished": "{{.Metadata.DatePublished}}",
        {{if ne .Metadata.DateModified .Metadata.DatePublished}}
        "dateModified": "{{.Metadata.DateModified}}"
        {{end}}
    }
    </script>
</head>

<body>
    {{if .Header}}
    <header>{{.Header}}</header>
    {{end}}
    <main>
        <div id="title">
            <h1>{{.Metadata.Title}}</h1>
            {{if .Metadata.Author}}
            <div id="author">
                <p>By {{.Metadata.Author}} on {{.Metadata.DatePublished.Format "January 2, 2006"}}
                    {{if ne .Metadata.DateModified .Metadata.DatePublished}}
                    <br />Last modified on {{.Metadata.DateModified.Format "January 2, 2006"}}
                </p>
                {{end}}
            </div>

            {{end}}
        </div>
        {{.Content}}
    </main>
    <!-- TODO: add related articles if any (if no tags -> "other articles" or something)-->
    {{if .Footer}}
    <footer>{{.Footer}}</footer>
    {{end}}
</body>

</html>
